html{
  scroll-behavior: smooth;
}
h1{
  /* color:#f5b461; */
  margin-top: 50px;
  font-size: 48px;
  font-family: "Lobster",cursive;
}

hr{
  border:none;
  border-top:5px dotted #ec524b;
  width:20%;
  margin-bottom: 30px;
}

section{
  padding:10px;
  text-align: center;
  font-family: "Quicksand",sans-serif;
  font-size: 24px;
}
section:nth-child(odd){
  background-color: #9ad3bc;
}

section:nth-child(even){
  background-color:white;
}

.bg-style{
  background-color: #f3eac2;
}

.container-fluid{
  margin:0;
  padding:0;
}

.profile-img{
  margin:100px auto 20px auto;
  width: 256px;
  border-radius: 128px;
}
